<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="petsite.project.info.dao.InfoDao">

<resultMap type="petsite.project.info.domain.InfoSave" id="info">

	<id property="idx" column="i_index"/>
	<result property="uId" column="m_id"/>
	<result property="title" column="i_title"/>
	<result property="text" column="i_text"/>
	<result property="photo" column="i_img"/>
	<result property="date" column="i_date"/>

</resultMap>  

<insert id="insertWrite" parameterType="petsite.project.info.domain.InfoSave">
 insert into info (m_id,i_title,i_text,i_img) values (#{uId},#{title},#{text},#{photo})
</insert>

<select id="AllList" resultMap="info">
 select * from info order by i_index desc
</select>

<select id="selectList" resultMap="info">
 select * from info where i_index = #{idx}
</select>

<update id="update" parameterType="petsite.project.info.domain.InfoSave">
 update info set 
 	<if test="photo != null">
 	i_img = #{photo}
 	</if>
 	<if test="photo == null">
 	i_text = #{text}, i_title = #{title} 
 	</if>
 	where i_index = #{idx}
</update>

<delete id="delete">
 delete from info where i_index = #{idx}
</delete>

<!-- text로 검색했을 때 나오는 개수 -->
<select id="TitleCount" parameterType="petsite.project.info.domain.InfoSave" resultType="int">
 select count(*) from info Like CONCAT('%',#{text},'%')
</select>

<!-- 전체 개수 -->
<select id="selectCount" parameterType="petsite.project.info.domain.InfoSave" resultType="int">
 select count(*) from info 
</select>

<!-- 컷팅 -->
<select id="selectCountCut" parameterType="petsite.project.info.domain.InfoSave" resultType="int">
 select count(*) from info limit #{index}, #{count}
</select>

<!-- text로 검색했을 때 나오는 게시물 -->
<select id="selectTitles"  resultMap="info">
 select * from info where i_title Like CONCAT('%',#{text},'%')
</select>


</mapper>